*{
    box-sizing: border-box;
}
body{
    background-image: url(/Users/silversurfing/Downloads/kai-pilger-Ef6iL87-vOA-unsplash.jpg);
    background-size: 1500px;
    background-repeat: no-repeat;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    border: 0px;
    cursor: url(moon_cursor.png);

}
#astro{
    margin: 0px;
    text-align: center;
    padding: 20px;
}
#menu{
    position: relative;


}
#item_1{
    width: 250px ;
    border: 10px green;
    background-color: black;   
}
#item_2{
    width: 250px;
    border: blue 10px;
    background-color: red;
    float: right;
}
#item_3{
    width: 250px;
    border: red 10px;
    background-color: blue;
    float: right;
}