* {
    box-sizing: border-box;
}
body{
    background-color:rgb(243, 224, 190);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:  0px;
    margin: 10px;
    height: 100vh;
}
#title{
    color:black;
    text-align: center;
}

#item_name{
    position: absolute;

}

.row{
    width: 100%;
}
@media (min-width: 992px){
    .desktopcol1, .desktopcol2,
    .desktopcol3 {
        float: left;
        position: relative;
        width: 33%;
    }
    #item_1{
        border: solid rgb(206, 228, 236) 5px;
        color: black;
        background-color: rgb(152, 152, 233);
        margin-right: 10px;
        
    }
    #item_2{
        border: solid rgb(206, 228, 236) 5px;
        color: black;
        background-color: rgb(70, 70, 136);
        margin-right: 10px;
       
    }  
    #item_3{
        border: solid rgb(206, 228, 236) 5px;
        color: black;
        background-color: rgb(59, 59, 100);
    }
    
    #item_name_1 {
        font-size: 20px;
        position: absolute;
        top: 0px;
        right: 10px;
        text-align: center;
        padding: 10px;
        margin: 0%;
        width: 50%;
        border: solid rgb(206, 228, 236) 5px;   
    }
    #item_name_2 {
        font-size: 20px;
        position: absolute;
        top: 0px;
        right: 10px;
        text-align: center;
        padding: 10px;
        margin: 0%;
        width: 50%;
        border: solid rgb(206, 228, 236) 5px; 
    }
    #item_name_3 {
        font-size: 20px;
        position: absolute;
        top: 0px;
        right: 0px;
        text-align: center;
        padding: 10px;
        margin: 0%;
        width: 50%;
        border: solid rgb(206, 228, 236) 5px; 
    }

    .dummy_text{
        text-align: center;
        padding: 15px;
        position: relative;
        top: 30px;
    }
    }
    

@media(min-width: 768px) and (max-width: 991px){
    .tablet_col1, .tablet_col2 {
        position: relative;
        width: 50%;
        float: left;
    }
    .tablet_col3{
        position:relative; 
        width: 100%;
        float: left;
        margin-top: 10px;
    }
    #item_1{
        border: solid rgb(206, 228, 236) 5px;
        color: black;
        background-color: rgb(152, 152, 233);
        margin-right: 10px;
        
    }
    #item_2{
        border: solid rgb(206, 228, 236) 5px;
        color: black;
        background-color: rgb(70, 70, 136);
        margin-right: 10px;
       
    }  
    #item_3{
        border: solid rgb(206, 228, 236) 5px;
        color: black;
        background-color: rgb(59, 59, 100);
    }
    
    #item_name_1 {
        font-size: 20px;
        position: absolute;
        top: 0px;
        right: 10px;
        text-align: center;
        padding: 10px;
        margin: 0%;
        width: 50%;
        border: solid rgb(206, 228, 236) 5px;   
    }
    #item_name_2 {
        font-size: 20px;
        position: absolute;
        top: 0px;
        right: 10px;
        text-align: center;
        padding: 10px;
        margin: 0%;
        width: 50%;
        border: solid rgb(206, 228, 236) 5px; 
    }
    #item_name_3 {
        font-size: 20px;
        position: absolute;
        top: 0px;
        right: 0px;
        text-align: center;
        padding: 10px;
        margin: 0%;
        width: 50%;
        border: solid rgb(206, 228, 236) 5px; 
    }

    .dummy_text{
        text-align: center;
        padding: 15px;
        position: relative;
        top: 30px;
    }
    
} 
@media(max-width: 767px) {
    .mobile_col1, .mobile_col2, .mobile_col3 {
        position: relative;
        float: left;
        width: 100%;


    }
    #item_1{
        border: solid rgb(206, 228, 236) 5px;
        color: black;
        background-color: rgb(152, 152, 233);
        margin-bottom: 10px;
        
    }
    #item_2{
        border: solid rgb(206, 228, 236) 5px;
        color: black;
        background-color: rgb(70, 70, 136);
        margin-bottom: 10px;
       
    }  
    #item_3{
        border: solid rgb(206, 228, 236) 5px;
        color: black;
        background-color: rgb(59, 59, 100);
    }
    
    #item_name_1 {
        font-size: 20px;
        position: absolute;
        top: 0px;
        right: 0px;
        text-align: center;
        padding: 10px;
        margin: 0%;
        width: 50%;
        border: solid rgb(206, 228, 236) 5px;   
    }
    #item_name_2 {
        font-size: 20px;
        position: absolute;
        top: 0px;
        right: 0px;
        text-align: center;
        padding: 10px;
        margin: 0%;
        width: 50%;
        border: solid rgb(206, 228, 236) 5px; 
    }
    #item_name_3 {
        font-size: 20px;
        position: absolute;
        top: 0px;
        right: 0px;
        text-align: center;
        padding: 10px;
        margin: 0%;
        width: 50%;
        border: solid rgb(206, 228, 236) 5px; 
    }

    .dummy_text{
        text-align: center;
        padding: 15px;
        position: relative;
        top: 30px;
    }
}